nav.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #0073e6;
  padding: 0;
}

.navbar-control {
  justify-content: space-between;
  max-width: 50%;
}

.nav-menu {
  gap: 10px;
  .nav-link {
    color: #fff;
    padding: 15px 10px;
    &:hover,
    &.active {
      background-color: #fff;
      color: #0073e6;
    }
  }
}

.logo {
  width: 75px;
  height: 25px;
  margin-left: 10px;
}

.search {
  width: 325px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-icone {
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background-color: #fff;
  cursor: pointer;
}

.perfil {
  width: 25px;
  height: 25px;
}

.form-inline {
  display: flex;
  align-items: center;
}
