<header>
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" routerLink="/admin"><img class="logo" /> </a>

    <form class="form-inline my-lg-0">
      <input
        class="search"
        type="search"
        placeholder="search..."
        aria-label="search"
      />
      <img
        src="../../../../assets/Magnifier.png"
        class="search-icone"
        type="submit"
      />
    </form>

    <div class="navbar-collapse collapse navbar-control">
      <ul class="navbar-nav nav-menu">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="produtos"
            [routerLinkActive]="['active']"
            >Produtos</a
          >
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link"
            ><img
              src="../../../../assets/perfil-logo.png"
              class="perfil"
              routerLink="/"
          /></a>
        </li>
      </ul>
    </div>
  </nav>
</header>
