.footer {
  background-color: #0073e6;
  padding: 13px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer-text {
  color: #fff;
  margin-bottom: 0;
  font-size: 14px;
}
